@import "~@fontsource/pt-sans/index.css";
@import "~@fontsource/roboto-slab/index.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;

    li {
        display: inline-block;
        margin: 0 10px;
    }
}